<footer class="site-footer">

  <!-- input soulara footer code here -->

  <footer>
    <div class="inner">
      <div class="links">
        <ul class="site-links">
          <li>
            <div id="needHelp">Need help?</div>
            <a href="mailto:support@soulara.com.au?">support@soulara.com.au </a>
          </li>
          <li>
            <a href="https://www.soulara.com.au/terms">Terms</a>
          </li>
          <li>
            <a href="https://www.soulara.com.au/privacy-policy">Privacy</a>
          </li>
        </ul>
        <ul class="site-links right-side">
          <li>
            <a href="https://www.soulara.com.au/our-ethos">Our Ethos</a>
          </li>
          <li>
            <a href="https://www.soulara.com.au/on-the-menu">On the menu</a>
          </li>
          <li>
            <a href="https://www.soulara.com.au/faqs">FAQ</a>
          </li>
        </ul>
        <ul class="social-links">
          <li>
            <a class="facebook" href="https://www.facebook.com/livesoulara"></a>
          </li>
          <li>
            <a class="instagram" href="https://www.instagram.com/livesoulara/"></a>
          </li>
        </ul>
      </div>
      <div class="logo">
        <a href="/" class="freshara-logo"></a>
      </div>
    </div>
  </footer>

</footer>
