<header class="site-header">

  <!-- input Soulara html header code here -->

  <div class="container">
    <nav>
      <div class="inner">
        <a class="freshara-logo" href="/">
          <h1>Soulara</h1>
        </a>
        <a href="#" class="nav-toggle">
          <span class="bar"></span>
        </a>
        <div class="nav-tray">
          <div class="inner">
            <ul class="nav-links">
              <li>
                <a href="https://www.soulara.com.au/on-the-menu">On the Menu</a>
              </li>
              <li>
                <a href="https://www.soulara.com.au/plans">Plans</a>
              </li>
              <li>
                <a href="https://www.soulara.com.au/our-ethos">Our Ethos</a>
              </li>
            </ul>
            <ul class="account-links">
              <li>
                <a href="https://www.soulara.com.au/delivery-times">Delivery Times</a>
              </li>
              <li>
                <a href="https://www.soulara.com.au/customers/sign_in">Log In</a>
              </li>
              <li>
                <a class="button -compact -primary" href="https://www.soulara.com.au/">Sign Up</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
</div>
</header>
