---
layout: default
---

<img src="../assets/fern_left.png" class="fern-left">
<img src="../assets/fern_right.png" class="fern-right">

<section class="hero">
  <h2>{{ page.category }}</h2>

  <a href="/">← Back to all categories</a>
  <div class="category-nav">
    <nav>
      <a href="/category/food">Food</a>
      <a href="/category/health">Health</a>
      <a href="/category/lifestyle">Lifestyle</a>
      <a href="/category/nutrition">Nutrition</a>
    </nav>
  </div>

</section>

<section class="articles">
  <div class="flex-wrapper">


    {% for post in site.categories[page.category] %}

      <a href="{{ post.url | remove: ".html" }}" class="small-article">
          <div class="small-article-img" style="background-image: url({{ post['Main Image'] }});"></div>
          <!-- <img src="{{ posts['Main Image'] }}" class="small-article-img"> -->
          <div class="small-article-details">
            <small>{{ page.title}}</small>
            <h4 class="small-article-title">{{ post.title }}</h4>
          </div>
      </a>

    {% endfor %}

  </div>

</section>
