---
layout: default
---

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
    <p class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</p>
    <img src="{{ page['Main Image'] }}" class="article-main-img">
  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>
</article>

<div class="post-footer wrapper">
  <a href="/" class="hollow-button">Back to Blog</a>
  <div class="post-share">
        <!-- AddToAny BEGIN -->
    <div class="a2a_kit a2a_kit_size_32 a2a_default_style">
    <a class="a2a_dd" href="https://www.addtoany.com/share"></a>
    <a class="a2a_button_facebook"></a>
    <a class="a2a_button_twitter"></a>
    <a class="a2a_button_email"></a>
    <a class="a2a_button_pinterest"></a>
    </div>
    <script async src="https://static.addtoany.com/menu/page.js"></script>
    <!-- AddToAny END -->
      </div>
</div>

<!-- recent articles -->
<section id="articles" class="wrapper">
  <h3>Latest Articles</h3>
  <div class="flex-wrapper">
        {% for posts in site.posts limit:3 %}
          {% if posts.title == page.title %}
            {% continue %}
          {% else %}

          <a href="{{ posts.url | remove: ".html" }}" class="small-article">
              <img src="{{ posts['Main Image'] }}" class="small-article-img">
              <div class="small-article-details">
                <small>{{ posts.categories }}</small>
                <h4 class="small-article-title">{{ posts.title }}</h4>
              </div>
          </a>

          {% endif %}
        {% endfor %}
  </div>
</section>


<!-- PUT ARTICLE PAGE HERE ^^^^ -->
